<!DOCTYPE html>
<html>
<style>
   .div {
    background-color: #eee;
    width: 200px;
    height: 100px;
    border: 1px dotted black;
    overflow: scroll;
    } 
    h2 {
    width: 320px;
    padding: 20px;
    border: 5px solid yellow;
    margin: 0; 
    }
    
</style>
<body>
<h2>About</h2>
<p>Spicy jalapeno bacon ipsum dolor amet sed reprehenderit sausage ground round aute minim aliqua salami irure drumstick turducken cow labore. Pastrami corned beef incididunt meatball andouille irure. Laboris id sunt exercitation ex shank veniam et jowl ipsum burgdoggen aute kevin ut nulla. Consectetur doner est, eu flank pork esse ribeye mollit dolore laborum salami bresaola tempor. Id dolore duis elit meatloaf doner magna incididunt laborum eu cillum ground round. In labore porchetta boudin drumstick sed, anim deserunt do pastrami tri-tip pancetta fatback lorem ground round. Chicken frankfurter non ut shoulder jowl fatback capicola picanha.</p>
<div class="div" <p>Irure reprehenderit veniam qui sunt venison ea culpa. Commodo proident boudin jowl ullamco. Capicola cow sirloin biltong, tail commodo meatball chicken leberkas rump velit proident. Landjaeger magna pork chop, alcatra nisi dolore ribeye commodo sint jowl nulla ground round eiusmod consectetur. Tongue tenderloin drumstick proident capicola excepteur bresaola. Burgdoggen landjaeger proident ex dolore t-bone adipisicing.</p>
</body>