<!DOCTYPE html>
<html>
    <style>
          h1 {
        color: black;
        text-align: center;
        font-size:20px;
                }
          img  {   
         padding:12px;
         border:1px solid #0c0c0c;
         background-color: #ff80ff;
         margin: auto;
                 }
        
    
    </style>
<body>
<div class="w3-panel w3-padding-16 w3-panel w3-topbar w3-bottombar w3-border-red w3-pale-red">
<h1>Need help with web development?</h1>
<p>You can visit the following websites:</p>
<img class="border" src="https://s3.amazonaws.com/impressivewebs/2014-02/w3schools-logo.jpg" alt="w3schools"</img>
<img class="border" src="http://www.skrenta.com/images/stackoverflow.jpg" alt="stackoverflow"</img>
<img class="border" src="https://www.javatpoint.com/ruby/images/ruby-tutorial.png" alt="ruby"</img>


