<!DOCTYPE html>
<html>
  <head>
    <title>Appname</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "w3-container w3-orange">
    <div>
      <a href="/my_pages/home" class="w3-bar-items- w3-button">Home</a>
      <a href="/users" class="w3-bar-item w3-button">Users</a>
      <a href="/microposts" class="w3-bar-item w3-button">Microposts</a>
      <a href="/my_pages/about" class="w3-bar-items- w3-button">About</a>
      <a href="/my_pages/help"  class="w3-bar-items- w3-button">Help</a>
    </div>
    <%= yield %>
  </body>
</html>
